<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a class="navbar-brand" href="#">FoodOrb</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

          </ul>
          <form *ngIf="login" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Food Items"/>
            </div> <button type="submit" class="btn btn-default">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!login">
              <a [routerLink]="['/api/vi/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Login</a>
            </li>
            <li *ngIf="!login">
              <a [routerLink]="['/api/vi/register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Register</a>
            </li>
            <li *ngIf="login">
              <a>Cart</a>
            </li>
            <li *ngIf="login" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <a ngbDropdownToggle>Options<strong class="caret"></strong></a>
              <ul ngbDropdownMenu>
                <li>
                  <a ngbDropdownItem>TrackOrder</a>
                </li>
                <li>
                  <a ngbDropdownItem>Profile</a>
                </li>
                <li>
                  <a ngbDropdownItem>Settings</a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a ngbDropdownItem>Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


